// :root {
// 	--main-blue: #266DD3;
// 	--main-yellow: #FFB400;
// 	--main-grey-dark: #3C474B;
// 	--main-grey-light: #DDDBF1;
// 	--instagram: linear-gradient(to top right,
// 		#fccc63,
// 		#fccc63,
// 		#cd486b,
// 		#8a3ab9,
// 		#4c68d7);
// }
@font-face
    font-family: title1
    src: url(../fonts/Bauhaus-93_6274.ttf)

@font-face
    font-family: title2
    src: url(../fonts/Montserrat-Bold.ttf)

@font-face
    font-family: title3
    src: url(../fonts/Montserrat-Regular.ttf)

$main-blue: #266DD3
$main-yellow: #FFB400
$main-grey-dark: #3C474B
$main-grey-light: #DDDBF1
