@font-face {
  font-family: titles;
  src: url(../fonts/titles.ttf); }
@font-face {
  font-family: subtitles;
  src: url(../fonts/subtitles.ttf); }
@font-face {
  font-family: descriptions;
  src: url(../fonts/descriptions.ttf); }
* {
  box-sizing: border-box; }

html, body {
  margin: auto;
  width: 100%;
  overflow: auto; }

hr {
  width: 75%;
  color: #266DD3; }

/* ---------------------- Home ---------------------- */
nav {
  line-height: 400px;
  width: 100%;
  position: fixed;
  z-index: 3; }

nav ul {
  margin: 0;
  padding: 0;
  padding-right: 40px;
  padding-left: 4px;
  line-height: 60px;
  overflow: hidden;
  list-style: none;
  text-align: right;
  transition: 1s;
  z-index: 3; }

nav ul li {
  display: inline-block;
  padding: 16px 5px;
  z-index: 3; }

nav ul li a {
  font-family: "descriptions", sans-serif;
  color: #DDDBF1;
  font-size: 17px;
  margin: 0px 5px;
  padding: 5px 5px;
  z-index: 0;
  text-decoration: none;
  position: relative;
  cursor: pointer; }

nav.black ul {
  background: #FFB400; }

nav.black ul li a {
  color: #3C474B;
  transition: all 1s; }

div.topBotomBordersIn a:before,
div.topBotomBordersIn a:after {
  background: #266DD3;
  left: 0px;
  width: 100%;
  height: 2px;
  opacity: 0;
  position: absolute;
  content: "";
  transition: all 0.5s; }

div.topBotomBordersIn a:before {
  top: 0px;
  transform: translateY(-10px); }

div.topBotomBordersIn a:after {
  bottom: 0px;
  transform: translateY(10px); }

div.topBotomBordersIn a:hover:before,
div.topBotomBordersIn a:hover:after {
  opacity: 1;
  transform: translateY(0px); }

.menu-icon {
  width: 100%;
  padding: 15px 24px;
  line-height: 60px;
  text-align: right;
  box-sizing: border-box;
  cursor: pointer;
  display: none; }

.welcome {
  background-image: url("../../assets/img/home.jpg");
  width: 100%;
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  position: inherit; }

.welcome h1,
.welcome p {
  padding: 0px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  z-index: 1; }

.welcome h1 {
  font-family: "titles", monospace, sans-serif;
  color: #266DD3;
  font-size: 6.2em;
  letter-spacing: 3.7px;
  margin: 0px 20px 20px 20px;
  padding: 0px 50px 0px 50px;
  border-bottom: 5px solid #FFB400;
  text-transform: uppercase;
  display: flex; }

.welcome p {
  font-family: "subtitles", monospace, sans-serif;
  color: #3C474B;
  font-size: 1.5em;
  letter-spacing: 3px;
  margin: 100px 0px 10px 0px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center; }

/* ----------------------Gallery---------------------- */
.tabs {
  height: 40px;
  display: flex;
  border-bottom: 1px solid #266DD3;
  margin: 0;
  padding: 0; }

.tabs li {
  text-align: center;
  color: #3C474B;
  font-family: subtitles;
  height: 90%;
  display: inline-block;
  width: 100px;
  position: relative;
  z-index: 2;
  padding: 16px 20px 10px;
  cursor: pointer;
  font-family: sans-serif;
  opacity: 0.5;
  transition: font-weight 0.3s ease-in-out, opacity 0.1s ease-in-out 0.1s, color 0.3s ease-in-out;
  font-size: 12px; }

.tabs li:before {
  background-color: #266DD3;
  color: #FFB400;
  content: "";
  width: 100px;
  height: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
  transform: perspective(0.5em) rotateX(90deg);
  border-radius: 100% 100% 0 0;
  transition: border-radius 0.2s ease-out, transform 0.2s ease-out;
  /* middle tab */
  transform-origin: bottom; }

/* first tab */
.tabs li:first-of-type:before {
  transform-origin: left bottom; }

/* last tab */
.tabs li:last-of-type:before {
  transform-origin: right bottom; }

.tabs li.active {
  opacity: 1;
  color: #DDDBF1;
  font-weight: 700; }

.tabs li.active:before {
  transform: perspective(0.5em) rotateX(2deg);
  border-radius: 10px 10px 0 0; }

.tabs-content-container {
  font-family: descriptions;
  font-size: 0.9em; }

.tabs-content-container .tab-content {
  display: none; }

.tabs-content-container .tab-content.active {
  display: block; }

.text-center {
  text-align: center;
  margin-top: 1.2em;
  margin-bottom: 0.5em;
  color: #266DD3;
  font-family: "subtitles"; }

.container {
  max-width: 90%;
  background-color: #f2f2f2;
  box-shadow: 0 10px 35px #FFB400;
  margin: 5% auto;
  padding: 20px;
  border-radius: 10px;
  overflow: hidden;
  box-sizing: border-box; }

.lightbox-gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center; }

.lightbox-gallery div {
  margin: 15px;
  flex-basis: 220px; }

.lightbox-gallery div > img {
  max-width: 100%;
  border: 2px solid #266DD3;
  border-radius: 10px;
  display: block;
  background-color: #F2F2F2; }

.lightbox-gallery div p {
  margin-top: 10px;
  color: #3C474B;
  text-align: center;
  font-family: "descriptions"; }

/* ---------------------- Footer ---------------------- */
.footer {
  margin: 0;
  padding: 0;
  clear: both;
  position: relative; }

/* ---------------------- Suscribe ---------------------- */
.word {
  top: 0px;
  left: 1px;
  min-height: 1em;
  margin-top: 20px;
  margin-bottom: 20px; }

.myWord {
  font-family: "subtitles", sans-serif;
  color: #DDDBF1;
  padding-top: 0px;
  padding: 100px;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 2.2px;
  text-align: center; }

.contact-form {
  background: #266DD3;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px; }

.contact-form input[type=email] {
  font-family: "descriptions";
  border: none;
  text-align: center;
  width: 50%;
  padding: 14px 20px;
  margin: 8px 0;
  border-radius: 4px;
  border: none;
  cursor: pointer; }

.contact-form button {
  font-family: "descriptions", sans-serif;
  color: #3C474B;
  background-color: #FFB400;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: none;
  margin-left: 20px;
  padding: 13px 32px;
  text-align: center;
  font-size: 15px;
  text-decoration: none;
  border-radius: 1.9px;
  cursor: pointer; }

.contact-form button:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19); }

/* ---------------------- Full bottom ---------------------- */
.full-bottom {
  background-color: #2263be;
  padding-top: 20px;
  padding-bottom: 5px; }

.full-bottom .icons p {
  color: #DDDBF1;
  font-size: 15px;
  text-align: center;
  margin-right: 50px; }

.icons {
  display: block;
  text-align: center; }

.icons a {
  color: #DDDBF1;
  text-decoration: underline; }

.icons .contactWa i {
  color: #25D366; }

.icons .contactInsta i {
  background: linear-gradient(to top right, #fccc63, #fccc63, #cd486b, #8a3ab9, #4c68d7);
  color: #fff; }

.full-bottom p {
  font-family: "descriptions";
  text-align: center;
  font-size: 12px;
  color: #DDDBF1; }

.extra-footer {
  text-align: center;
  font-size: 10px; }

/* ---------------------- Responsive 860 ---------------------- */
@media only screen and (max-width: 860px) {
  /* ---------------------- Home ---------------------- */
  div.menu-icon {
    background: #FFB400;
    margin: 0px; }

  .menu-icon {
    color: #266DD3;
    display: block;
    top: 0; }

  .showing {
    max-height: 34em;
    padding: 0px; }

  nav ul {
    background: #FFB400;
    max-height: 0px; }

  nav.black ul {
    background: #FFC539;
    position: block; }

  nav ul li {
    width: 100%;
    padding: 5px;
    text-align: center; }

  .welcome p {
    font-size: 1.2em;
    text-align: center; }

  /* ---------------------- Gallery ---------------------- */
  .container {
    max-width: 80%; } }
/* ---------------------- Responsive 860 ---------------------- */
@media only screen and (max-width: 720px) {
  /* ---------------------- Home ---------------------- */
  .welcome h1 {
    font-size: 4.6em; }

  /* ---------------------- Gallery ---------------------- */
  .text-center {
    text-align: center;
    margin-bottom: 1em; }

  .container {
    max-width: 80%; }

  /* ---------------------- Footer ---------------------- */
  .contact-form button {
    margin: 5px; }

  .footer .myWord {
    color: #DDDBF1;
    font-size: 18px;
    padding: 50px; } }
/* ---------------------- Responsive 520 ---------------------- */
@media only screen and (max-width: 520px) {
  /* ---------------------- Home ---------------------- */
  .welcome h1 {
    font-size: 4em;
    margin: 0px 20px 20px 20px;
    padding: 0px 20px 0px 20px; }

  .welcome p {
    margin: 100px 10px 10px 10px; }

  /* ---------------------- Footer ---------------------- */
  .contact-form input[type=email] {
    width: 75%; }

  .footer .myWord {
    font-size: 30px; } }
/* ---------------------- Responsive 380 ---------------------- */
@media only screen and (max-width: 380px) {
  /* ---------------------- Home ---------------------- */
  .welcome h1 {
    font-size: 3em;
    margin: 0px;
    padding: 0px 10px 0px 10px; }

  .welcome p {
    font-size: 1em;
    margin: 90px 10px 10px 10px; }

  /* ---------------------- Footer ---------------------- */
  .footer .myWord {
    color: #DDDBF1;
    font-size: 18px;
    padding: 50px; }

  .icons .contactInsta {
    text-align: center;
    margin-left: 70px; }

  .icons .contactWa {
    text-align: center;
    margin-left: 70px; } }

/*# sourceMappingURL=main.css.map */
